{% extends 'usercenter-base.html' %}
{% load staticfiles %}
{% block title %}在线学习风格{% endblock %}

{% block custom_bread %}
<section>
  <div class="wp">
    <ul class="crumbs">
      <li><a href="{% url 'index' %}">首页</a>></li>
      <li><a href="{% url 'users:user_info' %}">个人中心</a>></li>
      <li>在线学习风格</li>
    </ul>
  </div>
</section>
{% endblock %}

{% block right_content %}
<div class="right">
  <div class="personal_des Releasecont">
    <div class="head">
      <h1>在线学习风格</h1>
    </div>
  </div>
  <div class="personal_des permessage">
    <div class="inforcon">
      <div style="font-size:15px;margin:30px;">
        <p style="color:#717171;"><b>学习风格</b>表示学习者在学习过程中经常采用的习惯性学习方式和倾向，是学习者在一定的生理特征基础上，在长期的学习活动中逐步形成的相对稳定的个体学习方式偏爱。 </p>
      </div>
      <div style="margin-left:30px; margin-right:30px;">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ request.user.ols_motivational }}%">动机</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ request.user.ols_communicational }}%">交流</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ request.user.ols_visual }}%">视觉</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ request.user.ols_verbal }}%">言语</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ request.user.ols_sensing }}%">感悟</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ request.user.ols_intuitive }}%">直觉</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ request.user.ols_sequential }}%">序列</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ request.user.ols_global }}%">综合</div>
        </div>
        <div style="border-top:1px solid #eaeaea;margin-top:30px;">
          <a class="button btn-green btn-w100" id="jsUserResetPwd" style="margin:20px auto;width:200px;">重新填写在线学习风格量表</a>
        </div>
      </div>
      <!--div class="group_list brief">
        {% for user_course in user_courses  %}
        <div class="module1_5 box">
          <a href="{% url 'courses:course_detail' user_course.course.id %}">
            <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ user_course.course.image }}"/>
          </a>
          <div class="des">
            <a href="{% url 'courses:course_detail' user_course.course.id %}"><h2>{{ user_course.course.name }}</h2></a>
            <span class="fl">课时：<i class="key">{{ user_course.course.learn_times }}</i></span>
            <span class="fr">学习人数：{{ user_course.course.students }}</span>
          </div>
          <div class="bottom">
            <span class="fl">{{ user_course.course.course_org.name }}</span>
            <span class="star fr  notlogin" data-favid="15">{{ user_course.course.fav_nums }}</span>
          </div>
        </div>
        {% endfor %}
      </div-->
    </div>
  </div>
</div>
{% endblock %}
